/***** General *****/

.content_container {
  max-width: 1440px;
  padding: 0;
  margin: 0 auto; /* damit der Content in der Mitte des Screens angezeigt wird und nicht linksbündig  */
}

html {
  scrollbar-gutter: stable; /* verhinert, dass sich Hintergrund bewegt, wenn die Scrollbar beim Öffnen der Pokémonkarte verschwindet */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  color: white;
  background-color: var(--color_bg);
}

h1 {
  text-align: center;
  margin: 16px;
}

h2 {
  display: inline;
  font-size: 16px;
  font-weight: 400;
}

.d_none {
  display: none;
}

.no_scroll {
  overflow: hidden;
}

.label {
  color: white;
}

/***** Buttons main page *****/

.show_more {
  display: flex;
  justify-content: center;
  margin: 16px 0px 24px 0px;
}

.show_more button,
.search button {
  background-color: var(--color_red);
  color: white;
  font-size: 20px;
  border-radius: 8px;
}

.search button {
  padding: 4px;
}

.show_more button {
  padding: 16px;
}

.show_more button:hover,
.search button:hover {
  transform: scale(1.03);
}

.show_more button:active {
  transform: scale(0.97);
}

/***** Header *****/

.website_header {
  display: flex;
  align-items: center;
  height: 120px;
  background-color: var(--color_primary);
  border-bottom: 1px solid var(--color_highlight);
}

.visible {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 8px;
}

header .content_container { /* Der .content_container wird nur für den header zur Flexbox */
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
}

.header_logo {
  display: flex;
  align-items: center;
  color: white;
  gap: 16px;
}

header img {
  height: 48px;
  object-fit: contain;
}

.header_logo_title {
  font-size: 30px;
}

input {
  height: 24px;
}

/***** Search *****/

.search {
  display: flex;
  align-items: center;
  height: 48px;
}

.search_error {
  text-align: end;
  height: 20px;
  font-size: 16px;
  color: var(--color_red);
}

.no_search_result {
  font-size: 30px;
  padding: 24px 0px;
}

/***** Footer *****/

.website_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  background-color: var(--color_primary);
  color: white;
  border-top: 1px solid var(--color_highlight);
}

.heart {
  color: var(--color_highlight);
}

/***** Loading-Spinner (Overlay) *****/

.loading_spinner {
  position: fixed;
  inset: 0; /* deckt den gesamten Bildschirm ab*/
  display: none; /* wird per JS auf "flex" gesetzt */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999; /* damit der spinner auch wikrlich "ganz oben" liegt und alles andere überdeckt */
}

.loading_spinner img {
  width: 128px;
  height: 128px;
  display: block;
}

/***** Queries *****/

@media (max-width: 470px) {
  .visible {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .website_header {
    height: 200px;
  }

  .search_error {
    text-align: center;
  }
}

@media (max-width: 370px) {
  .website_footer p {
    display: block;
  }
}
