.pokemon_gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon_card {
  width: 200px;
  background-color: var(--color_primary);
  border-radius: 16px;
  overflow: hidden; /* vermeidet, dass die "eckigen Kanten" zB des headers angezeigt werden */
  margin: 24px;
}

.pokemon_card_header {
  display: flex;
  padding: 16px;
}

.pokemon_card_header h2 {
  flex: 1; /* nimmt den ganzen Rest der Breite */
  text-align: center;
}

.pokemon_img {
  display: flex;
  justify-content: center;
  background-color: var(--color_highlight); /* !!! ToDo !!! */
  padding-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.pokemon_img img {
  height: 120px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.pokemon_card_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  
}

.pokemon_card:hover .pokemon_img {
  box-shadow: 0 0 16px currentColor;
}

.pokemon_card:hover .pokemon_img img {
  transform: scale(1.1);
}

.type_bg_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.type_icon {
  display: block; 
  width: 16px;
  height: 16px;
}

/***** Dialog/Lightbox *****/

.lightbox {
  width: 600px;
  max-width: 95%; /* NICHT vw! damit es auf Smartphone funktioniert */
  margin: auto; /* richtet die Lightbox mittig auf der Seite aus */
  border: 3px solid white;
  border-radius: 16px;
  padding: 0;
  color: white;
  background-color: var(--color-bg-dark);
}

.lightbox::backdrop {  
  background: rgba(0, 0, 0, 0.6); 
}

.header_lightbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px; /* genug Höhe für mehrere Zeilen */
  padding: 12px 24px;
  gap: 16px;
}
