.pokemon_gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon_card {
  width: 200px;
  background-color: var(--color_primary);
  border-radius: 16px;
  overflow: hidden; /* vermeidet, dass die "eckigen Kanten" zB des headers angezeigt werden */
  margin: 24px;
}

.pokemon_card_header {
  display: flex;
  padding: 16px;
}

.pokemon_card_header h2 {
  flex: 1; /* nimmt den ganzen Rest der Breite */
  text-align: center;
}

.pokemon_img {
  display: flex;
  justify-content: center;
  background-color: var(--color_highlight); /* !!! ToDo !!! */
  padding-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.pokemon_img img {
  height: 120px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.pokemon_type {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.pokemon_card:hover .pokemon_img {
  box-shadow: 0 0 16px currentColor;
}

.pokemon_card:hover .pokemon_img img {
  transform: scale(1.1);
}

.type_bg_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.type_icon {
  display: block;
  width: 16px;
  height: 16px;
}

/***** Dialog/Lightbox *****/

.lightbox {
  width: 260px;
  max-width: 95%;
  margin: auto;
  /* richtet die Lightbox mittig auf der Seite aus */
  border: none;
  /* border: 3px solid white; */
  border-radius: 16px;

  color: white;
  background-color: var(--color_primary);
  padding: 0;
}

.lightbox::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.pokemon_lightbox {
  min-height: 500px;
}

.pokemon_card {
  width: 200px;
  background-color: var(--color_primary);
  border-radius: 16px;
  overflow: hidden; /* vermeidet, dass die "eckigen Kanten" zB des headers angezeigt werden */
  /* margin: 24px; */
}

.button_close {
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 2px 6px;
}

.button_close:hover {
  transform: scale(1.1);
}

.button_close:active {
  transform: scale(0.9);
}

/* Tabs & Details */

.tabs {
  display: flex;
  justify-content: space-evenly;
  gap: 1px;
  margin: 0;
}

.tab_button {
  flex: 1;
  background-color: var(--color_bg_main_stats);
  border-bottom: 1px solid transparent;
  font-size: 16px;
  color: white;
  margin: 0;
  padding: 4px;
}

.tab_button:hover {
  border-bottom: 1px solid white;
}

.active {
  border-bottom: 1px solid var(--color_red);
}

/* Tabelle in Main */

.pokemon_main_table {
  padding: 16px;
}

.pokemon_main_table td {
  width: 550px;
  vertical-align: top;
}


