* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

button {
  /* all: unset;  --> geht nicht, da dann auch der FOKUS (Tab) rausgenommen wird */
  background: none;
  color: white;
  border: none;
  cursor: pointer; 
  padding: 0;
}